.home-container {
  background-color: var(--secondary-light);
  color: var(--secondary-dark);
}

.home-container a {
  text-decoration: none;
  color: var(--secondary-dark);
}

.btn-round {
  background-color: var(--primary-light);
  width: 54px;
  height: 54px;
  border-radius: 27px;
  color: var(--white);
  margin: 0px 6px 0px 6px;
}

.store-rating i {
  color: var(--star-yellow);
}
.store-rating {
  font-size: 16px;
}

.store-status i {
  color: #27ae60;
  font-size: 10px;
}

.store-status {
  font-size: 16px;
}

.store-details {
  font-size: 16px;
}

.store-location i {
  color: var(--primary-light);
}
