html,
body {
  margin: 0;

  height: 100%;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-bg-color: coral;
  --primary: #f77b28;
  --primary-light: #ff9957;
  --secondary-dark: #4c4c4c;
  --secondary-light: #e5e5e5;
}

button:focus {
  outline: none;
  box-shadow: none !important;
}

input:focus {
  outline: none;
  box-shadow: none !important;
}

a {
  /* color: #fff; */
}

a :hover {
  color: var(--primary);
  /* text-decoration: none; */
}

li {
  list-style-type: none;
}

@media (min-width: 576px) {
  html {
    font-size: 1rem;
  }
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  html {
    font-size: 1.4rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 1.6rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 1.6rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-light);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
